<html>

<head>
    <link rel="stylesheet" href="/css/style.css" />
</title>
    <title>
        <%= title %>
      
    </title>
</head>
<body class="img">
    <center>
        <h1>Welcome, Admin</h1>
<!--     
        <h2>Welcome, Admin </h2> -->
        <br><br><br><br><br>
    
       
    
        <button class="button" id="add" onclick="window.location.href = '/admin/viewads';">
            Advertisements
        </button>
        <button class="button" id="view"  onclick="window.location.href = '/admin/viewmem';">
            Registered Members
        </button>
        <button class="logout" id="logout" onclick="window.location.href = '/admin/logout';">
            Logout
        </button>
    </center>
    </body>
</html>

<style>
    .img{
        background:url("https://i.pinimg.com/originals/94/44/b0/9444b0d9ee9526943d3e43887343ad64.png");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
       
      -moz-background-size: cover;
      background-size: cover;
        background-size: 520px;
        background-position: center center;
        background-attachment: scroll;
    }

    button{
            /* background-color: rgb(214, 212, 212); */
            opacity: 30;
            color: rgb(2, 19, 44);
    
            font-weight: bold;
            font-family:'calibri' ;
            height: 50px;
            margin-top: 24%;
            border: none;
            font-size: medium;
            backdrop-filter: blur(5px); 
          
        }
        .logout{
                        
                        color: rgb(85, 10, 10);
                
                        font-weight: bold;
                        font-family: 'calibri';
                        height: 50px;
                        width: 70px;
                       margin-top: 170px;
                        border: none;
                        font-size: medium;
                      
                    }

                    h1 {
         
         width: 100%;
         height: 15%;
         text-shadow: darkgray 2px 1px;
         padding-top: 3%;
         text-align: center;
         color: white;
    
       
         margin: 0px 0px 0px 0px;
         font-family: 'calibri';
 
     }
     h2 {
         width: 100%;
      
         text-align: center;
        text-shadow: darkgray 2px 1px;
         color:white;
         height: 90px;
         margin: 0px 0px 0px 0px;
         font-family: 'calibri';
 
     }
    </style>