<!DOCTYPE html> 
<html>
    <head>
        <title><%=title%></title>
    </head>
    
        <body class="img">
            <center>
                <h1>AdManager</h1>
            
                <h2>Welcome,  Member </h2>
                <br><br><br><br><br>
            
                <button class="button" id="add" onclick="window.location.href = '/member/newad';">
                    Post New Ad
                 </button>
            
                <button class="button" id="add" onclick="window.location.href = '/member/viewads/:id';">
                   My Ads
                </button>
                <button class="button" id="view"  onclick="window.location.href = '/member/update';">
                    Update Account
                </button>
                <button class="button" id="view"  onclick="window.location.href = '/member/clearacct';">
                    Deactivate  Account
                </button><br><br>
                <button class="logout" id="logout" onclick="window.location.href = '/member/logout';">
                    Logout
                </button>
            </center>
            </body>
            <style>
              
                * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
                      
                      html { width: 100%; height:100%; overflow:hidden; }
                      
                      body { 
                        width: 100%;
                        height:100%;
                        font-family: 'Times New Roman', Times, serif;
                        /* background: linear-gradient(to bottom, #e0a8e0 0%, #43a2b3 100%); */ 
                       
                      }
                  h1 {
                     
                      width: 95%;
                      height: 15%;
                   
                      padding-top: 3%;
                      text-align: center;
                      color: white;
                      text-shadow: gray 1px 1px;
                    
                      margin: 0px 0px 0px 0px;
                      font-family: 'calibri';
              
                  }
                  h2 {
                      width: 95%;
                      text-shadow: gray 1px 1px;
                      text-align: center;
                      padding-top: 1%;
                      color:white;
                      height: 50px;
                      margin: 0px 0px 0px 0px;
                      font-family: 'calibri';
              
                  }
                  .img{
        background:url("https://i.pinimg.com/originals/94/44/b0/9444b0d9ee9526943d3e43887343ad64.png");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
       
      -moz-background-size: cover;
      background-size: cover;
        background-size: 520px;
        background-position: center center;
        background-attachment: scroll;
    }
    button{
            /* background-color: rgb(214, 212, 212); */
            opacity: 30;
            color: rgb(2, 19, 44);
    
            font-weight: bold;
            font-family:'calibri' ;
            height: 50px;
            width : auto;
            margin-top: 24%;
            border: none;
            font-size: medium;
            backdrop-filter: blur(5px); 
          
        }
        .logout{
                        
                        color: rgb(85, 10, 10);
                
                        font-weight: bold;
                        font-family: 'calibri';
                        height: 50px;
                        width: 50px;
                       margin-top: 170px;
                        border: none;
                        font-size: medium;
                      
                    }
                  
              
              </style> 
        
    
</html>